:root {
    /* Colors */
    --main-color: #181E4B;
    --purple-color: #6B5CFF;
    --orange-color: #FE654F;
    --green-color: #5ACCA4;
    --yellow-color: #E6CA52;
    --light-color: #fff;

    /* Typography */
    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --body-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Font-size */
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 3rem;

    /* Spacing */
    --spacing-xs: 0.5rem;
    --spacing-sm: 0.75rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --spacing-xl: 4rem;

    /* Layout */
    --max-width: 90rem;
    --max-width-1024: 60rem;
    --max-width-768: 45rem;
    --max-width-640: 38rem;
    --standard-border-radius: var(--spacing-sm);
    --standard-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::before {
    content: "";
    width: 100%;
    height: 60vh;
    background: url(assets/paws-bg-img-new.webp) center/cover no-repeat;
    position: absolute;
    top: 150%;
    z-index: -1;
}


body::after {
    content: "";
    width:  80px;
    height: 80px;
    background: url(assets/icons/whatsapp.png) center/cover no-repeat;
    position: fixed;
    cursor: pointer;
    bottom: 0;
    right: 0;
    margin: 0 var(--spacing-lg) var(--spacing-lg) 0;
    border-radius: 50%;
    z-index: 2;
}


header {
    background-color: var(--light-color);
    width: 100%;
    max-width: var(--max-width);
    height: 10vh;
    display: flex;
    margin: var(--spacing-lg) 0 0 0;
    box-shadow: var(--standard-box-shadow);
    border-radius: var(--standard-border-radius);
    color: var(--main-color);
    font-weight: 600;
    position: fixed;
    z-index: 3;
}

nav {
    width: 80%;
    max-width: var(--max-width);
    height: 10vh;
    display: flex;
}

.logo {
    width: 30%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo span {
    color: var(--main-color);
    font-size: calc(var(--font-size-md)* 2);
}

nav ul {
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--main-color);
}

nav ul li a:hover {
    color: var(--purple-color);
    cursor: pointer;
}

main {
    width: 100%;
    max-width: var(--max-width);
}

h2 {
    font-size: var(--font-size-lg);
    margin: var(--spacing-xl);
}

.hero-section {
    width: 100%;
    height: 100vh;
    background: url(assets/hero-background.webp) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 30%;
    height: 40vh;
    border-radius: var(--standard-border-radius);
    box-shadow: var(--standard-box-shadow);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--light-color);
    
}

.card p {
    padding: var(--spacing-md);
    border-radius: var(--standard-border-radius);
}

.one p {
    background-color: var(--orange-color);
}

.one h3 {
    color: var(--orange-color);
}

.two p {
    background-color: var(--purple-color);
}

.two h3 {
    color: var(--purple-color);
}

.three p {
    background-color: var(--green-color);
}

.three h3 {
    color: var(--green-color);
}

.card .card-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 20%;
    margin: 0 var(--spacing-md) 0 0;
}

.card h3 {
    font-size: var(--font-size-lg);
}

.info-section {
    width: 100%;
    margin: var(--spacing-xl) 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.info-section .card {
    width: 45%;
    height: 20vh;
    color: var(--main-color);
    margin: var(--spacing-lg) 0;
    padding: var(--spacing-lg);
}

.info-section .card p {
    background-color: transparent;
    padding: 0;
}

.info-one p,
.info-one h3 {
    color: var(--orange-color);
}

.info-two p,
.info-two h3 {
    color: var(--purple-color);
}

.info-three p,
.info-three h3 {
    color: var(--green-color);
}

.info-four p,
.info-four h3 {
    color: var(--yellow-color);
}

.help-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: var(--spacing-xl) 0;
}

.help-section .card {
    width: 30%;
    height: 60vh;
    align-items: center;
    justify-content: space-around;
}

.help-section .card p {
    padding: var(--spacing-lg);
}

.help-section .button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-color);
    padding: var(--spacing-md);
    border-radius: var(--standard-border-radius);
    background-color: #181E4B;
    text-decoration: none;
    font-weight: 600;
}

.help-one p,
.help-one h3 {
    color: var(--orange-color);
}

.help-two p,
.help-two h3 {
    color: var(--purple-color);
}

.help-three p,
.help-three h3 {
    color: var(--green-color);
}

.help-one .button {
    background-color: var(--orange-color);
    border: 2px solid ;
    transition: 0.3s ease-in;
}

.help-one .button:hover {
    background-color: transparent;
    border: 2px solid var(--orange-color);
    color: var(--orange-color);
}

.help-two .button {
    background-color: var(--purple-color);
    border: 2px solid ;
    transition: 0.3s ease-in;
}

.help-two .button:hover {
    background-color: transparent;
    border: 2px solid var(--purple-color);
    color: var(--purple-color);
}

.help-three .button {
    background-color: var(--green-color);
    border: 2px solid ;
    transition: 0.3s ease-in;
}

.help-three .button:hover {
    background-color: transparent;
    border: 2px solid var(--green-color);
    color: var(--green-color);
}


footer {
    width: 100%;
    height: 20vh;
    background-color: var(--main-color);
    color: var(--light-color) ;
    display: flex;
    justify-content: center;
}

footer .footer-wrapper {
    width: 100%;
    max-width: var(--max-width);
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    width: 30%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left span {
    font-size: calc(var(--font-size-md) * 2);
}

.center {
    width: 30%;
    height: 15vh;
}

.right {
    width: 30%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Media queries */

/* Small laptops */
@media (max-width: 1024px) {
    header {
        max-width: var(--max-width-1024);
    }

    main {
        max-width: var(--max-width-1024);
    }

    .info-section {
        flex-direction: column;
        align-items: center;
    }

    .info-section .card {
        width: 91%;
    }
}

/* Tablets */
@media (max-width: 768px) {
    header {
        max-width: var(--max-width-768);
    }

    main {
        max-width: var(--max-width-768);
    }

    .info-section {
        flex-direction: column;
        align-items: center;
    }

    .info-section .card {
        width: 91%;
    }
}

@media (max-width: 640px) {
    header {
        max-width: var(--max-width-640);
    }

    nav{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .logo {
        display: none;
    }

    main {
        max-width: var(--max-width-640);
    }

    .about-section {
        flex-direction: column;
        align-items: center;
    }

    .cards-about-section {
        flex-direction: column;
        align-items: center;
    }

    .cards-about-section .card {
        width: 100%;
        margin: var(--spacing-md) 0;

    }

    .info-section {
        flex-direction: column;
        align-items: center;
    }

    .info-section .card {
        width: 91%;
    }

    .help-section {
        flex-direction: column;
        align-items: center;
    }

    .help-section .card {
        width: 100%;
        margin: var(--spacing-md) 0;
    }
}